body{
  margin:2px;
  padding:0px;
  width:100%;
  font-family:'Lato',serif;
  color:#000;
  background-color:#fff;
  font-size:12px; 
}

.show {display: block;}
.hide {display: none;}

h1 {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  background: rgba(255, 255, 255, .7);
  padding: 20px 40px;
}