body{
    margin:0;
    padding:0;
    width:100%;
    font-family:'Lato',serif;
    color:#000;
    background-color:#fff;
    font-size:12px; 
}

.show {display: block;}
.hide {display: none;}

h1 {
    font-size: 30px;  
    margin:0;
    padding:0;
}

.centered {
    position:relative;
    width: 850px;
    height: 500px;
    margin: 0 auto;
}

.header {
    position: relative;
    margin: 20px;
}